.sidenav {
    width: 55%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.alluser {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    font-size: 30px;
}

.details {
    height: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.alluser p {
    font-size: 72px;
    color: #383874;
}

.alluser span {
    font-size: 14px;
    margin-left: 20px;
}