.nav {
    display: flex;
}

.nav p {
    position: relative;
    left: 18px;
    top: 18px;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 400;
    font-size: 20.5076px;
    color: #000000;
}

.logo img {
    position: relative;
    left: 15%;
    right: 0.82%;
    top: 10%;
    bottom: 1.67%;
    width: 40px;
    height: 40px;
}