.home {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.main {
    width: 100%;
    height: calc(100% - 60px);
}

.probar {
    display: flex;
    justify-content: flex-start;
    margin-top: 10%;

}

.mainpagetwo {
    width: 75%;
    height: 100%;
}

.mainpage {
    width: 30%;
    position: absolute;
    top: 10%;
    left: 4%;
}