.input {
    margin-left: 10%;
    margin-top: 18px;
    width: 30%;
    position: relative;
}

.search-box {
    width: 80%;
    padding: 6px;
    background-color: #EEF0FA;
    outline: none;
    border: none;
    border-radius: 6px;
}

.input i {
    position: absolute;
    left: 78%;
    top: 6px;
}